.hero {
	width: 100%;
	height: 70vh;
	background: url();
	background-color: var(--lightgrey);
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.hero::after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, -1);
}

.hero video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	object-fit: cover;
}

.hero-text {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-shadow: 8;
	letter-spacing: -0.015em;

	position: relative;
	z-index: 10;
}

.hero--heading {
	padding: 0 15%;
	color: var(--darkgrey);
}

.hero--button {
	background-color: var(--darkgrey);
	color: var(--white);
	padding: 0.6em;
	font-size: 17px;
	line-height: 21px;
}
