.hero {
	width: 100%;
	height: 70vh;
	background: url();
	background-color: var(--lightgrey);
	margin: 0 auto;
	text-align: center;
	position: relative;
}

/* .hero--heading {
	outline: 2px solid green;
	position: absolute;
	bottom: 100px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.hero--button {
	position: absolute;
	bottom: 50px;
	margin: 0 auto;
} */

.hero--button {
	width: max-content;
}

.hero-text {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
