.navbar {
	/* outline: 2px solid var(--grey); */
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* 
img {
	padding-left: 2%;
} */

nav {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	/* padding-right: 5%; */
}

/* Tablet */
@media only screen and (max-width: 780px) {
}

/* Mobile */
@media only screen and (max-width: 420px) {
}
